[submodule "lib/ubdsrv"]
	path = lib/ubdsrv
	url = https://github.com/ming1/ubdsrv
[submodule "lib/FlameGraph"]
	path = lib/FlameGraph
	url = https://github.com/brendangregg/FlameGraph.git
[submodule "lib/liburing"]
	path = lib/liburing
	url = https://github.com/axboe/liburing.git
[submodule "lib/caladan"]
	path = lib/caladan
	url = https://github.com/shenango/caladan.git
